@tailwind base;
@tailwind components;
@tailwind utilities;

/* Swiper Pagination Bullets */
.swiper-pagination-bullet {
  width: 45px !important;
  height: 16px !important;
  background-color: #d9d9d9 !important;
  opacity: 1;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 8px !important;
}

.swiper-pagination-bullet-active {
  background-color: #fd6f00 !important;
}
